@font-face {
    font-family: 'Helvetica Neue 93';
    src: url(fonts/helvetica-neue/Helvetica\ Neue\ LT\ Std\ 93\ Black\ Extended.otf);
}

@font-face {
    font-family: 'Helvetica Neue 53';
    src: url(fonts/helvetica-neue/Helvetica\ Neue\ LT\ Std\ 53\ Extended.otf);
}

* {
    box-sizing: border-box;
}

.neue-93-light {
    font-family: 'Helvetica Neue 93';
    color: #fdf3ea;
    font-size: 1em;
    margin: 1em 0.5em;
}

.font-sm {
    font-size: 0.7em;
    margin-bottom: 0;
}

.neue-93-dark {
    font-family: 'Helvetica Neue 93';
    color: #05021d !important;
}

.neue-53-light {
    font-family: 'Helvetica Neue 53';
    color: #fdf3ea;
    font-size: 1em;
    margin: 1em;
}

.blue {
    background: #0d256b !important;
}

.orange {
    color: #fca037;
}

.dark {
    color: #050215;
}

.columna {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor-pricipal {
    max-width: 1300px;
}

main {
    margin-top: 6em;
}

h1,
h5 {
    color: #fca037;
    font-family: 'Helvetica Neue 93';
    font-size: 1em;
}

button.navbar-toggler {
    border: none;
}

a.nav-link {
    font-family: 'Helvetica Neue 53';
    color: #fca037;
    padding: 0.2em 1em !important;
}

a.dropdown-item,
.form-check-label {
    color: #fca037;
    font-family: 'Helvetica Neue 53';
}

ul.dropdown-menu {
    border: none;
}

.logo img {
    height: 65px;
}

/* ESTILOS LANDING */

.reproductor-musica {
    display: flex;
    margin-bottom: 1.5em;
}

.estado-cancion {
    padding: 1em 0.5em 1em 0;
    background: #fca037;
    border-radius: 2em;
    display: flex;
    justify-content: center;
}

.btn-musica {
    background-color: rgba(240, 248, 255, 0);
    border: none;
}

.btn-comenzar,
.btn-enviar {
    background-color: #fca037;
    border-radius: 2em;
    border: none;
    margin: 1em;
    padding: 0.5em 1em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

#nombre-canciones {
    font-size: 1em;
    margin: 0;
    padding: 0;
}

.img-billie-landing {
    max-width: 800px;
    width: 100%;
}

/* ESTILOS BIOGRAFÍA */

hr {
    border: none;
    height: 2px;
    background-color: #fca037;
    margin: 20px 0;
}

/* ESTILOS PREMIOS */

.flex-row {
    display: flex;
}

.flex-row a img {
    width: 60px;
}

#footer-info {
    background-color: #05021d;
    padding: 1em;
    margin: 0 !important;
}

footer div,
footer ul {
    padding: 0.5em;
}

/* Entrevistas */
.video-entrevistas , .videos-musicales , .videos-collabs{
    width: 100%;
    height: 400px;
}

/* COLLABS */

.card {
    background-color: #fca037;
    border-color: #fca037;

}

/* SHOWS EN VIVO */

.video-shows {
    width: 100%;
    height: 300px;
}

@media (min-width: 992px) {
    main {
        margin-top: 9em;
    }

    .neue-93-light {
        font-size: 1.6em;
    }

    .bx-sm {
        font-size: 2.5rem !important;
    }
}